<div class="container" id="positionOutside">

  <div id="marca">
    <img id="marcaCadastro" src="../../assets/marca_mini_app.png" alt="">
  </div>

  <div class="form-group" id="cadastro">

    <img routerLink="/abertura" id="seta" src="../../assets/seta.png" alt="seta">
    <img id="camera" src="../../assets/camera.png" alt="camera">

    <!-- <h3>Criar Conta</h3> -->
    <p>Criar Conta</p>

    <input type="text" class="form-control btn-form" placeholder="Nome" name="cadastroNome" id="cadastroNome">
    <input type="email" class="form-control btn-form" placeholder="Endereco e-mail" name="cadastroEmail" id="cadastroEmail">
    <input type="password" class="form-control btn-form" placeholder="Senha" name="cadastroSenha" id="cadastroSenha">

    <input class="btn btn-default" id="criarContaBtn" type="button" value="Criar Conta">

  </div>
</div>