<div class="container" id="positionOutside">

    <div id='marca'>
        <img id="marcaCadastro" src="../../assets/marca_mini_app.png" alt="">
    </div>

    <div class="form-group" id="cadastro">

        <img routerLink="/abertura" id="seta" src="../../assets/seta.png" alt="seta">
        
        <p>Entrar</p>

        <input type="text" class="form-control btn-form" placeholder="Nome" name="cadastroNome" id="cadastroNome">
        <input type="password" class="form-control btn-form" placeholder="Senha" name="cadastroSenha" id="cadastroSenha">

        <input routerLink="/listas" class="btn btn-default" id="criarContaBtn" type="button" value="Entrar">

    </div>
</div>