<div id="div" style="position: absolute">

  <nav style="background-color:  #574437;">
    <img style="padding:5px" src="../../assets/marca-mini123.png" alt="">
    <div style='display: flex; flex-direction: row-reverse'>
      <img src="../../assets/avatar.png" alt="">
      <p style="padding-top: 14px;padding-right: 3px;
       color: bisque;">
        {{usuario}}
      </p>
    </div>

  </nav>

  <div style="padding-left: 10%" class="container">
    <div id="top">
      <p style="margin-right: 50%; margin-bottom: 0; font-size: 20px;">Criar Lista</p>
    </div>

    <input style="width:78%;margin-bottom: 2%" type="text" class="form-control" name="" id="">
   <div style="display: flex">
     <input style="width:72%;margin-bottom: 2%" type="text" class="form-control" name="" id="">
     <img src="../../assets/botao_adicionar.png" style="height: 30px; margin-left: 4px" alt="">
    </div>


    <button class="btn btn-default" routerLink="/listas" id="criarContaBtn">Cancelar</button>
    <button class="btn btn-danger" style="margin-top: 4px; margin-bottom: 53px; margin-left: 6px; width: 200px">Criar Lista</button>

  </div>
</div>